<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwf.yuhuangshe.dao.MenuMapper">
    <resultMap id="menuMap" type="com.gwf.yuhuangshe.entity.Menu">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="url" property="url"></result>
        <result column="lev" property="lev"></result>
        <result column="pid" property="pid"></result>
    </resultMap>

    <select id="menuone" resultMap="menuMap">
        select distinct m.id,m.name,m.url,m.lev,m.pid
        from users u left join role r on u.rid = r.id left join
        role_menu rm on r.id = rm.rid left join menu m on rm.mid = m.id
        where u.id = #{userid} and lev = 1
    </select>

    <select id="menutwo" resultMap="menuMap">
        select distinct m.id,m.name,m.url,m.lev,m.pid
        from users u left join role r on u.rid = r.id left join
        role_menu rm on r.id = rm.rid left join menu m on rm.mid = m.id
        where u.id = #{userid} and lev = 2 and m.pid =#{Menuone.id}
    </select>

    <select id="selMenus" resultMap="menuMap">
        select  id,name,url,lev,pid
        from  menu
    </select>
</mapper>


<!-- 	select查询操作 -->
<!--<select id="allCar" resultType="com.gwf.entity.Car" resultMap="carMap">-->
<!--	   select * from cars-->
<!--  </select>-->
<!--<select id="searchCars" resultType="com.gwf.entity.Car" resultMap="carMap">-->
<!--	   select * from cars where carName like #{carName}-->
<!--  </select>-->

<!--<select id="selectCar" resultType="com.gwf.entity.Car">-->
<!--	   select * from cars where carName=#{carName}-->
<!--  </select>-->
<!--<select id="selectCarById" resultType="com.gwf.entity.Car">-->
<!--	   select * from cars where carID=#{carID}-->
<!--  </select>-->

<!--&lt;!&ndash;   update更新操作 &ndash;&gt;-->
<!--<update id="updateCarInfor">-->
<!--	   update  cars set  carE=#{carE},carName=#{carName},carUserName=#{carUserName} where carID=#{carID}-->
<!--  </update>-->
<!--&lt;!&ndash;   insert插入操作 &ndash;&gt;-->
<!--<insert id="addCar" parameterType="com.gwf.entity.Car">-->
<!--		insert into cars(carName,carUserName,carE)-->
<!--		values(-->
<!--			#{carName},#{carUserName},#{carE}-->
<!--		)-->
<!--	</insert>-->
<!--&lt;!&ndash; 	删除 &ndash;&gt;-->
<!--<delete id="delCar" >-->
<!--		delete from cars where carID=#{carID}-->
<!--	</delete>-->