<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwf.yuhuangshe.dao.MenuMapper">
    <resultMap id="menuMap" type="com.gwf.yuhuangshe.entity.Menu">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="url" property="url"></result>
        <result column="lev" property="lev"></result>
        <result column="pname" property="pname"></result>
        <result column="state" property="state"></result>
    </resultMap>

    <select id="menuone" resultMap="menuMap">
        select distinct m.id,m.name,m.url,m.lev,m.pname
        from users u left join role r on u.rid = r.id left join
        role_menu rm on r.rname = rm.rname left join menu m on rm.mname = m.name
        where u.id = #{userid} and lev = 1
        and rm.state =1 and m.state = 1
    </select>

    <select id="menutwo" resultMap="menuMap">
        select distinct m.id,m.name,m.url,m.lev,m.pname
        from users u left join role r on u.rid = r.id left join
        role_menu rm on r.rname = rm.rname left join menu m on rm.mname = m.name
        where u.id = #{userid} and lev = 2 and m.pname =#{Menuone.name}
        and rm.state =1 and m.state = 1
    </select>

    <select id="selMenus" resultMap="menuMap">
        select  id,name,url,lev,pname,state
        from  menu
    </select>
    <delete id="delMenuById">
        delete from menu where id=#{id}
    </delete>
    <update id="UpdateMenuById">
        UPDATE menu
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null"> name = #{name},</if>
            <if test="url != null"> url = #{url },</if>
            <if test="lev != null"> lev = #{lev},</if>
            <if test="pname != null"> pname = #{pname},</if>
            <if test="state != null"> state = #{state},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <insert id="InsertMenuById">
        insert into
        menu(name,url,lev,pname,state)
        values(#{name},#{url},#{lev},#{pname},#{state})
    </insert>
</mapper>
