<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwf.yuhuangshe.dao.NotesMapper">
    <resultMap id="notesMap" type="com.gwf.yuhuangshe.entity.Notes">
        <id column="id" property="id"></id>
        <result column="UName" property="Uname"></result>
        <result column="Uid" property="u_id"></result>
        <result column="notes" property="noteType"></result>
        <result column="note_Type" property="noteTypeId"></result>
        <result column="value" property="notes"></result>
        <result column="test" property="test"></result>
        <result column="createTime" property="createTime"></result>
        <result column="state" property="state"></result>
    </resultMap>
    <select id="selNotes" resultMap="notesMap">
           SELECT n.id,n.test, u.UName,n.u_id, n.note_Type , n.notes,n.createTime ,nt.value,n.state
            FROM notes n ,users u,note_type nt WHERE
                n.u_id = #{uId} and n.note_Type = nt.id

    </select>
    <delete id="delNoteTypeById">
        delete from notes where id=#{id}
    </delete>
    <update id="updateNoteTypeById">
        UPDATE notes
        <trim prefix="set" suffixOverrides=",">
            <if test="text != null"> text = #{text},</if>
            <if test="state != null"> state = #{state },</if>
            <if test="value != null"> value = #{value},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <insert id="insertNote">
        insert into
        notes(u_id,note_Type,notes,createTime,state,test)
        values(#{Uid},#{noteTypeId},#{notes},#{createTime},#{state},#{test})
    </insert>
</mapper>
