<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwf.yuhuangshe.dao.NoteTypeMapper">
    <resultMap id="noteTypeMap" type="com.gwf.yuhuangshe.entity.NoteType">
        <id column="id" property="id"></id>
        <result column="text" property="text"></result>
        <result column="state" property="state"></result>
        <result column="value" property="value"></result>
    </resultMap>

    <select id="selNoteTypes" resultMap="noteTypeMap">
        select  id,text,state,value
        from  note_type
    </select>
    <select id="selNoteTypeState" resultMap="noteTypeMap">
        select  id,text,state,value
        from  note_type where state = 1
    </select>

    <delete id="delNoteTypeById">
        delete from note_type where id=#{id}
    </delete>
    <update id="updateNoteTypeById">
        UPDATE note_type
        <trim prefix="set" suffixOverrides=",">
            <if test="text != null"> text = #{text},</if>
            <if test="state != null"> state = #{state },</if>
            <if test="value != null"> value = #{value},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <insert id="insertNoteType">
        insert into
        note_type(text,state,value)
        values(#{text},#{state},#{value})
    </insert>
</mapper>
