<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwf.yuhuangshe.dao.RoleMapper">
    <resultMap id="roleMap" type="com.gwf.yuhuangshe.entity.Role">
        <id column="id" property="id"></id>
        <result column="rname" property="rname"></result>
        <result column="title" property="title"></result>
        <result column="state" property="state"></result>
    </resultMap>


    <select id="selRoles" resultMap="roleMap">
        select  id,rname,title,state
        from  role
    </select>
    <delete id="delRoleById">
        delete from role where id=#{id}
    </delete>
    <update id="updateRoleById">
        UPDATE role
        <trim prefix="set" suffixOverrides=",">
            <if test="rname != null"> rname = #{rname},</if>
            <if test="title != null"> title = #{title },</if>
            <if test="state != null"> state = #{state},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <insert id="insertRole">
        insert into
        role(rname,title,state)
        values(#{rname},#{title},#{state})
    </insert>
</mapper>
