<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwf.yuhuangshe.dao.RoleMapper">
    <resultMap id="roleMap" type="com.gwf.yuhuangshe.entity.Role">
        <id column="id" property="id"></id>
        <result column="rname" property="rname"></result>
        <result column="title" property="title"></result>
        <result column="state" property="state"></result>
    </resultMap>


    <select id="selRoles" resultMap="roleMap">
        select  id,rname,title,state
        from  role
    </select>
    <delete id="delMenuById">
        delete from menu where id=#{id}
    </delete>
    <update id="UpdateMenuById">
        UPDATE menu
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null"> name = #{name},</if>
            <if test="url != null"> url = #{url },</if>
            <if test="lev != null"> lev = #{lev},</if>
            <if test="pid != null"> pid = #{pid},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <insert id="InsertMenuById">
        insert into
        menu(name,url,lev,pid)
        values(#{name},#{url},#{lev},#{pid})
    </insert>
</mapper>
